@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  90% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.navbar {
  @apply absolute top-0 left-0 w-full z-50 flex items-center justify-center;
}

.navbar-container {
  @apply flex items-center mx-auto;
}

.navbar-light {
  @apply bg-gray-600 shadow-md;
}

.navbar-transparent {
  @apply bg-transparent;
}

.mobile-nav {
  @apply lg:hidden flex items-center justify-between w-full px-4;
}

.mobile-social-links {
  @apply flex items-center space-x-4 ml-auto mr-4;
}

.mobile-menu-button {
  @apply text-white text-3xl;
}

.desktop-nav {
  @apply hidden lg:flex items-center justify-between w-full;
}

.nav-links-left {
  @apply flex space-x-6;
}

.nav-links-right {
  @apply flex items-center space-x-6;
}

.nav-link {
  @apply text-white text-xl font-bold font-inter;
  -webkit-text-stroke: 0.5px black;
  transition: color 0.3s ease;
}

.nav-link:hover {
  -webkit-text-stroke: 1px black;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
  transition-duration: 300ms;
}

.navbar-logo {
  @apply flex justify-center z-50 items-center mx-8;
}

.navbar-logo img {
  @apply transition-transform duration-300 ease-in-out transform hover:opacity-85;
}

.logo {
  @apply h-44 w-44 transition-transform object-contain;
  transform-origin: center;
}

.navbar-logo img:hover {
  animation: rotateY 4s linear infinite;
}

.social-links {
  @apply flex items-center space-x-4;
}

.social-icon {
  @apply text-white w-5 h-5 hover:text-gray-300;
}

.mobile-menu {
  @apply lg:hidden absolute top-full left-1/2 w-2/3 space-y-4 py-6 px-4;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.mobile-nav-link {
  @apply nav-link block text-center py-2;
}

@media (max-width: 640px) {
  .logo {
    @apply h-24 w-24;
  }

  .mobile-menu {
    @apply mt-0;
  }
}
