.recent-posts-container {
  @apply pt-20 px-8;
}

.recent-posts-text-container {
  @apply text-center text-4xl font-scope text-gray-800;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blog-item-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-item {
  position: relative;
  overflow: hidden;
  border: 0.5em solid transparent;
  transition: border 0.3s;
}

.blog-image-wrapper {
  position: relative;
  padding: 0.5em;
  border: 0.5em solid transparent;
  transition: border 0.3s;
}

.most-recent-blog-title {
  @apply text-base font-bold mb-2;
  align-items: center;
  justify-content: center;
}

.blog-image {
  position: relative;
  height: 275px;
  width: 275px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  overflow: hidden;
}

.blog-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s;
}

.blog-link:hover .blog-image-wrapper {
  border: 0.5em solid #02ad9f;
}

.blog-description {
  position: absolute;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  padding: 0.625em 1.25em;
  border-radius: 0.625em;
  opacity: 0;
}

.blog-link:hover .blog-description {
  opacity: 1;
}

.blog-link:hover .blog-image::before {
  background-color: rgba(131, 197, 190, 0.7);
}
